.container {
  border: 1px solid #ccc;
}

.methodSelect {
  width: 100px;
}

.methodSpanWarn {
  color: red;
}
.methodSpanInfo {
  color: blue;
}
.headerSpan {
  color: rgb(143, 184, 139);
  font-size: large;
}

.requestBody {
  width: 446px;
  height: 200px;
  border: 1px solid #ccc;
}

.response {
  width: 446px;
  height: 200px;
  border: 1px solid #ccc;
}
